.head{
   padding-left: 80px;
}
.main{
    display: inline-block; width: 200px;
    vertical-align: top;
}
.labels{
    display: block; margin-bottom:10px;
}
.types{
    display: block; height:20px; width: 166px; margin-bottom:10px;
}
.textarea{
    display: block; width: 364px; margin-top:10px;
}
.but{
    margin-top: 10px; margin-left: 300px;
}
.field {
    width: 500px;
}